@page "/Acordeon"

    <head>
        <link rel="stylesheet" href="../css/components_style.css" />
        <link rel="stylesheet" href="../css/acordeon_style.css" />
    </head>



<section id="components">
    <div class="components_container">

        <div class="component_nav">
            <div class="component_nav_container">

                <div class="top_nav">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="70px" viewBox="0 0 235 132">
                        <title>Home</title>
                        <g id="Warstwa_2" data-name="Warstwa 2">
                            <g id="Logo">
                                <g>
                                    <polygon points="26.07 50.14 58.2 6.54 79.61 6.54 45.35 50.14 26.07 50.14" />
                                    <polygon points="83.89 11.21 73.19 25.22 92.46 92.18 101.03 75.05 83.89 11.21" />
                                    <polygon points="98.88 92.18 107.45 78.17 124.58 78.17 133.15 92.18 98.88 92.18" />
                                    <polygon points="208.1 50.14 175.98 6.54 154.56 6.54 188.83 50.14 208.1 50.14" />
                                    <polygon points="150.28 11.21 160.99 25.22 141.71 92.18 133.15 75.05 150.28 11.21" />
                                    <g>
                                        <polygon points="26.07 60.48 30.11 104.46 47.49 116.54 47.49 60.48 26.07 60.48" />
                                        <polygon points="28.56 107.46 42.53 117.46 11.48 117.46 28.56 107.46" />
                                    </g>
                                    <g>
                                        <polygon points="209.89 60.48 205.85 104.46 188.48 116.54 188.48 60.48 209.89 60.48" />
                                        <polygon points="207.4 107.46 193.43 117.46 224.48 117.46 207.4 107.46" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

                <div class="underline"></div>

                <div class="comp_nav_links">
                    <ul>
                        <li>
                            <NavLink href="" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> Home
                            </NavLink>
                        </li>

                        <li>
                            <NavLink href="CustomShoeOrder" Match="NavLinkMatch.All">
                                <i class="fa fa-tshirt"></i> Custom clothing
                            </NavLink>
                        </li>

                        <li>
                            <NavLink href="LoginPage" Match="NavLinkMatch.All">
                                <i class="fas fa-user"></i> Login Page
                            </NavLink>
                        </li>

                        <li>
                            <NavLink href="RegisterPage" Match="NavLinkMatch.All">
                                <i class="fas fa-user-plus"></i> Register Page
                            </NavLink>
                        </li>

                        <li>
                            <NavLink href="CreatePost" Match="NavLinkMatch.All">
                                <i class="fas fa-file-word"></i> Create Post
                            </NavLink>
                        </li>

                        <li>
                            <NavLink href="Comments" Match="NavLinkMatch.All">
                                <i class="fas fa-comments"></i> Comments
                            </NavLink>
                        </li>

                        <li>
                            <NavLink href="Acordeon" Match="NavLinkMatch.All">
                                <i class="fas fa-th-list"></i> Acordeon
                            </NavLink>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

        <div class="page">
            <div class="page_container">
                <div class="component">
                    <div class="component_container">

                        <div id="@ActualScheme" class="functional">
                            <div class="acordeon">
                                <div class="acordeon_container">
                                    @foreach (var p in pieces)
                                    {
                                        <div class="acordeon_part">

                                            <div class="acordeon_title">
                                                <div class="name_container">
                                                    <h4>@p.Name</h4>
                                                </div>

                                                <div class="button_container">
                                                    <button @onclick="p.OpenPiece">@p.ButtonTxt</button>
                                                </div>
                                            </div>
                                            @if (p.IsOpen == true)
                                            {
                                                <div class="information">
                                                    <div class="information_container">
                                                        <p>@p.Content</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>


                        <div class="component_panel">
                            <div class="component_panel_container">
                                <div class="title">
                                    <h1>Custom clothing item</h1>
                                </div>

                                <div class="description">
                                    <p>This is custom acordeon componet. Administrator is able to change style.</p>
                                </div>

                                <div class="options">
                                    <div class="option">
                                        <h4>Change color scheme</h4>

                                        <div class="choice_check_boxes">

                                            <div @onclick="@(e => ChangeColorScheme(1))" class="color_scheme_option">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                                    <title>Color_sheme1</title>
                                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                                            <g>
                                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #27437b;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="39.34" y="15.83" width="20.83" height="20.83" style="fill: #6182c1;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="25.02" y="40.35" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>

                                            <div @onclick="@(e => ChangeColorScheme(2))" class="color_scheme_option">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                                    <title>color_scheme_2</title>
                                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                                            <g>
                                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #8a2d91;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #a43a95;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>

                                            <div @onclick="@(e => ChangeColorScheme(3))" class="color_scheme_option">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                                    <title>color_scheme_3</title>
                                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                                            <g>
                                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #454952;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #868d9d;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>

                                            <div @onclick="@(e => ChangeColorScheme(4))" class="color_scheme_option">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                                    <title>color_scheme_4</title>
                                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                                            <g>
                                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #ebebeb;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #1a1a1a;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>

                                            <div @onclick="@(e => ChangeColorScheme(5))" class="color_scheme_option">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                                    <title>color_scheme_5</title>
                                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                                            <g>
                                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #73bf44;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #0c8441;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>

                                            <div @onclick="@(e => ChangeColorScheme(6))" class="color_scheme_option">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                                    <title>color_scheme_6</title>
                                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                                            <g>
                                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #ed184a;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #af1f23;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>


                                            <div @onclick="@(e => ChangeColorScheme(7))" class="color_scheme_option">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                                    <title>color_scheme_7</title>
                                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                                            <g>
                                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #f8ec24;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #cab72e;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>

                                        </div>
                                    </div>


                                </div>

                                <h4>Console</h4>

                                <div class="console">
                                    <div class="console_container">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@code {

    /// <summary>
    /// This class will determine acordeon piece
    /// </summary>
    public class AcordeonPiece
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Content { get; set; }
        public string ButtonTxt { get; set; }
        public bool IsOpen { get; set; }

        public void OpenPiece()
        {
            if(IsOpen == false)
            {
                IsOpen = true;
                ButtonTxt = "-";
            }
            else
            {
                IsOpen = false;
                ButtonTxt = "+";
            }
        }

        public AcordeonPiece() { }
    }

    /// <summary>
    /// This function will store acordeon pices
    /// </summary>
    protected List<AcordeonPiece> pieces = new List<AcordeonPiece>();

    protected override async Task OnInitializedAsync()
    {
        AcordeonPiece a1 = new AcordeonPiece();
        AcordeonPiece a2 = new AcordeonPiece();
        AcordeonPiece a3 = new AcordeonPiece();
        AcordeonPiece a4 = new AcordeonPiece();
        AcordeonPiece a5 = new AcordeonPiece();

        a1.Id = 0;
        a1.Name = "Minced pork rice";
        a1.Content = "Lo bah png, Chinese: 滷肉飯; pinyin: lǔròufàn; Pe̍h-ōe-jī: ló͘-bah-pn̄g is a rice dish that is commonly seen throughout Taiwan and Southern Fujian. The flavor may vary from one region to another, but the basic ingredients remain the same: ground pork marinated and boiled in soy sauce served on top of steamed rice. It is a type of gaifan dish.";
        a1.ButtonTxt = "+";
        a1.IsOpen = false;

        a2.Id = 1;
        a2.Name = "Origin";
        a2.Content = "How the dish was developed is not as clear. According to a study by a professor from the Department of History of Taiwan, a similar meat sauce dish dates back to at least China's Zhou Dynasty. The Book of Rites records:  In a saucepan cook meat, and stir after adding seasoning until mostly browned sauce, then pour the meat sauce on cooked rice. There is also a description of these foods in the novel Water Margin by Suzhounese writer Shi Nai'an. In time, the dish developed into countless regional variations. These different varieties can be found all over China with the Taiwanese version bearing strongest resemblance to those found in Southern Fujian. This gives credence to the theory that minced pork rice was brought to Taiwan by Fujianese immigrants";
        a2.ButtonTxt = "+";
        a2.IsOpen = false;

        a3.Id = 2;
        a3.Name = "Etymology";
        a3.Content = "According to Shuowen Jiezi (說文解字, Explaining Simple and Analyzing Compound Characters), the word Lu(滷) has the closest meaning to cooking in thick broth or sauce. This gives the term 滷肉飯 the direct meaning of rice with braised meat.";
        a3.ButtonTxt = "+";
        a3.IsOpen = false;

        a4.Id = 3;
        a4.Name = "Preparation";
        a4.Content = "As the origin of the flavor, the sauce is the key to making minced pork rice. The most popular way of preparation seen in Taiwan is stir-frying the ground meat with sliced shallot in oil, and then boiling it in soy sauce. In the frying process, one may customize the flavor by adding seasonings such as sugar, rice wine, pepper and other spices. When finished, the dark-brown meat sauce is called bah - sò(肉燥), and is also served with noodles, soup, vegetables and many homemade Taiwanese dishes.";
        a4.ButtonTxt = "+";
        a4.IsOpen = false;

        a5.Id = 4;
        a5.Name = "Regional varieties";
        a5.Content = "While minced pork rice is an important icon in typical Taiwanese folk cuisine, the variety of methods to customize flavors is so wide that it creates considerable differences between regions. In southern Taiwan, where people name it by the sauce bah - sò - pn̄g(肉燥飯) instead of the meat, minced pork rice is preferably served with pork with less fat. People in the north of Taiwan favor a greasier version of meat sauce with rice, sometimes even with glutinous rice mixed in. \n \n In southern Taiwan, while bah - sò - pn̄g is seen on the menu indicating minced pork rice, ló͘ - bah - pn̄g(滷肉飯) remains on the very same menu, referring to another dish where braised pork belly covers the rice. The same rice with braised pork belly is known as khòng - bah - pn̄g(焢肉飯) in northern Taiwan. \n \n Minced pork rice can also be found in China, and a wider selection of vegetables such as corn is eaten along with it.";
        a5.ButtonTxt = "+";
        a5.IsOpen = false;

        pieces.Add(a1);
        pieces.Add(a2);
        pieces.Add(a3);
        pieces.Add(a4);
        pieces.Add(a5);

    }

    //Color shemes declarations
    protected string ActualScheme = "Scheme_1";

    public void ChangeColorScheme(int choice)
    {
        switch (choice)
        {
            case 1: { ActualScheme = "Scheme_1"; break; }
            case 2: { ActualScheme = "Scheme_2"; break; }
            case 3: { ActualScheme = "Scheme_3"; break; }
            case 4: { ActualScheme = "Scheme_4"; break; }
            case 5: { ActualScheme = "Scheme_5"; break; }
            case 6: { ActualScheme = "Scheme_6"; break; }
            case 7: { ActualScheme = "Scheme_7"; break; }
        }
    }

}
