
<head>
    <link rel="stylesheet" href="../css/login_page_style.css" />
</head>

<div class="component">
    <div class="component_container">

        <div id="@ActualScheme" class="functional">

            <div class="login">
                <div class="login_container">
                    <div class="title_container">
                        <h5>Login</h5>
                    </div>


                    <div class="input_container">
                        <label>Username</label>
                        <input @bind="user_name" />
                        <p class="error_info">@user_name_error</p>
                    </div>

                    <div class="input_container">
                        <label>Password</label>
                        <input @bind="password" />
                        <p class="error_info">@password_error</p>
                    </div>

                    @if (has_sms_code == true)
                    {
                        <div class="input_container">
                            <label>SMS Code</label>
                            <input @bind="sms_code" />
                            <p class="error_info">@sms_code_error</p>
                        </div>
                    }

                    @if (has_pin == true)
                    {
                        <div class="input_container">
                            <label>Pin</label>
                            <div class="pin_choice">
                                <input @bind="code_1" maxlength="1" /> <input @bind="code_2" maxlength="1" /> <input @bind="code_3" maxlength="1" />
                            </div>
                            <p class="error_info">@code_error</p>
                        </div>
                    }

                    <div class="button_container">
                        <button @onclick="Login">Login</button>
                    </div>

                </div>
            </div>

        </div>


        <div class="component_panel">
            <div class="component_panel_container">
                <div class="title">
                    <h1>Custom login page</h1>
                </div>

                <div class="description">
                    <p>This is custom login page. </p>

                    <p>Person who manages website is able to change login methods to the website as well design of the login page.</p>

                    <p>User when logging in with Sms method would recieve numeric one time code. User when logging in with Pin would have to remember pin number. Both methods can be implemented.</p>
                </div>

                <div class="options">
                    <div class="option">
                        <h4>Change color scheme</h4>

                        <div class="choice_check_boxes">

                            <div @onclick="@(e => ChangeColorScheme(1))" class="color_scheme_option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                    <title>Color_sheme1</title>
                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                            <g>
                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #27437b;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="39.34" y="15.83" width="20.83" height="20.83" style="fill: #6182c1;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="25.02" y="40.35" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>

                            <div @onclick="@(e => ChangeColorScheme(2))" class="color_scheme_option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                    <title>color_scheme_2</title>
                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                            <g>
                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #8a2d91;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #a43a95;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>

                            <div @onclick="@(e => ChangeColorScheme(3))" class="color_scheme_option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                    <title>color_scheme_3</title>
                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                            <g>
                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #454952;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #868d9d;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>

                            <div @onclick="@(e => ChangeColorScheme(4))" class="color_scheme_option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                    <title>color_scheme_4</title>
                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                            <g>
                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #ebebeb;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #1a1a1a;stroke: #231f20;stroke-miterlimit: 10" />
                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>

                            <div @onclick="@(e => ChangeColorScheme(5))" class="color_scheme_option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                    <title>color_scheme_5</title>
                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                            <g>
                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #73bf44;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #0c8441;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>

                            <div @onclick="@(e => ChangeColorScheme(6))" class="color_scheme_option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                    <title>color_scheme_6</title>
                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                            <g>
                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #ed184a;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #af1f23;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>


                            <div @onclick="@(e => ChangeColorScheme(7))" class="color_scheme_option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 70.87 70.87">
                                    <title>color_scheme_7</title>
                                    <g id="Warstwa_2" data-name="Warstwa 2">
                                        <g id="Warstwa_1-2" data-name="Warstwa 1">
                                            <g>
                                                <rect x="9.85" y="15.83" width="20.83" height="20.83" style="fill: #f8ec24;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="40.61" y="15.83" width="20.83" height="20.83" style="fill: #cab72e;stroke: #231f20;stroke-miterlimit: 10" />
                                                <rect x="25.02" y="41.4" width="20.83" height="20.83" style="fill: #f8f8f8;stroke: #231f20;stroke-miterlimit: 10" />
                                                <circle cx="35.44" cy="35.44" r="34.94" style="fill: none;stroke: #231f20;stroke-miterlimit: 10" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>

                        </div>
                    </div>
                    <div class="option">
                        <h4>If has SMS login method</h4>
                        <div class="button_container">
                            <button @onclick="ChangeIfHasSMS">@sms_string_btn</button>
                        </div>
                    </div>

                    <div class="option">
                        <h4>If has SMS login method</h4>
                        <div class="button_container">
                            <button @onclick="ChangeIfHasPinCode">@pin_string_btn</button>
                        </div>
                    </div>

                </div>

                <h4>Console</h4>

                <div class="console">
                    <div class="console_container">
                        <p>@logged_in_status</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@code{


    /// <summary>
    /// This class will determine login component
    /// </summary>
    public class LoginComponent
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string ColorScheme { get; set; }
        public bool HasSmsOption { get; set; }
        public bool HasPinOption { get; set; }

        public LoginComponent() { }
    }

    /// <summary>
    /// This class is used to login test
    /// </summary>
    public class UserAccount
    {
        public string UserName { get; set; }
        public string Password { get; set; }
        public string SmsCode { get; set; }
        public int Code1 { get; set; }
        public int Code2 { get; set; }
        public int Code3 { get; set; }

        public UserAccount() { }
    }

    //Variables for showing functions
    protected bool has_pin = true;
    protected bool has_sms_code = true;

    //Variables for user input
    protected string user_name = "";
    protected string password = "";
    protected string sms_code = "";
    protected int code_1 = 0;
    protected int code_2 = 0;
    protected int code_3 = 0;

    //Error Variables for login
    protected string user_name_error = "";
    protected string password_error = "";
    protected string sms_code_error = "";
    protected string code_error = "";

    //Text for buttons
    protected string sms_string_btn = "Remove";
    protected string pin_string_btn = "Remove";

    protected string logged_in_status = "";

    /// <summary>
    /// Example account
    /// </summary>
    protected UserAccount example_account = new UserAccount();

    protected LoginComponent new_login_component = new LoginComponent();

    protected override async Task OnInitializedAsync()
    {
        example_account.UserName = "matisone";
        example_account.Password = "mypass!!word32";
        example_account.SmsCode = "3435334";
        example_account.Code1 = 4;
        example_account.Code2 = 1;
        example_account.Code3 = 7;

        new_login_component.ColorScheme = "Scheme_1";
        new_login_component.HasPinOption = true;
        new_login_component.HasSmsOption = true;
        new_login_component.Id = 0;
        new_login_component.Name = "CreatorName";
    }

    //Color shemes declarations
    protected string ActualScheme = "Scheme_1";

    /// <summary>
    /// This function will login to account
    /// </summary>
    public void Login()
    {
        user_name_error = "";
        password_error = "";
        sms_code_error = "";
        code_error = "";

        bool is_error = false;

        if(user_name == "")
        {
            is_error = true;
            user_name_error = "Please enter user name!";
        }

        if(user_name != example_account.UserName || password != example_account.Password)
        {
            is_error = true;
            password_error = "Wrong password or user name!";
        }

        //if sms code login option is true
        if (has_sms_code == true)
        {
            if (sms_code != example_account.SmsCode)
            {
                is_error = true;
                sms_code_error = "Wrong code!";
            }
        }

        //if pin login option is true
        if(has_pin == true)
        {

            if (code_1 != example_account.Code1 || code_2 != example_account.Code2 || code_3 != example_account.Code3)
            {
                is_error = true;
                code_error = "Wrong pin code!";
            }
        }

        if(is_error == false)
        {
            logged_in_status = "You logged in to the account";

            user_name = "";
            password = "";
            sms_code = "";
            code_1 = 0;
            code_2 = 0;
            code_3 = 0;

        }
        else
        {
            logged_in_status = "Something went wrong with login";
        }

    }

    /// <summary>
    /// Will change if this form will have sms login method
    /// </summary>
    public void ChangeIfHasSMS()
    {
        if(has_sms_code == false)
        {
            has_sms_code = true;
            sms_string_btn = "Remove";
            new_login_component.HasSmsOption = true;
        }
        else
        {
            has_sms_code = false;
            sms_string_btn = "Add";
            new_login_component.HasSmsOption = false;
        }
    }

    /// <summary>
    /// Will change if this form will have pin login method
    /// </summary>
    public void ChangeIfHasPinCode()
    {
        if (has_pin == false)
        {
            has_pin = true;
            pin_string_btn = "Remove";
            new_login_component.HasPinOption = true;
        }
        else
        {
            has_pin = false;
            pin_string_btn = "Add";
            new_login_component.HasPinOption = false;
        }
    }

    /// <summary>
    /// Function will change color schemes of the login component
    /// </summary>
    /// <param name="choice"></param>
    public void ChangeColorScheme(int choice)
    {
        switch (choice)
        {
            case 1: { ActualScheme = "Scheme_1"; break; }
            case 2: { ActualScheme = "Scheme_2"; break; }
            case 3: { ActualScheme = "Scheme_3"; break; }
            case 4: { ActualScheme = "Scheme_4"; break; }
            case 5: { ActualScheme = "Scheme_5"; break; }
            case 6: { ActualScheme = "Scheme_6"; break; }
            case 7: { ActualScheme = "Scheme_7"; break; }
        }
    }


}